* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #333;
  --secondary-color: #555;
  --accent-color: #00796b;
  --background-color: #fafafa;
  --font-family: "Arial", sans-serif;
  --transition-speed: 0.3s;
}
body {
  font-family: var(--font-family);
  line-height: 1.6;
  color: var(--primary-color);
  background-color: var(--background-color);
}
header {
  background: var(--primary-color);
  color: #fff;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
nav ul {
  margin: 0 1rem;
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background var(--transition-speed);
}
